<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    
</head>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<body>
<div class="container">
  <h2>Column Sizing</h2>
  <p>The form below shows input elements with different widths using different .col-xs-* classes:</p>
  <form>
  <div class="form-group">
     <div class="col-xs-4">
        <label for="ex3">Email</label>
        <input class="form-control" id="ex3" type="email" ng-model="email">
        </div>
  <br>
    <div class="col-xs-4"> 
  <label for="sel1">Complaint Type:</label>
  <select class="form-control" id="sel1" ng-model="type">
    <option>Payment</option>
    <option>Order</option>
    <option>Delivery</option>
    
  </select>
  </div>
<br>
<div class="col-xs-4">
  <label for="comment">Reason:</label>
  <textarea class="form-control" rows="5" cols="50" id="complaint" ng-model="reason"></textarea>
 </div>
 <button   ng-click="logComplaint()">Order By Mail</button>
   </div>  
  </form>
 
</div>
</body>
</html>